<div class="topSection">
    <span class="title">Videoflix</span>
    <button class="btn btn-danger backBtn" [routerLink]="['/start']">zurück</button>
</div>

<div class="mainContainer">

    <div class="mainContent">
        <div class="infoText">
            <h1>
                Passwort vergessen?
            </h1>
            <p>
                Kein Problem. Gib hier deine Email ein, die du bei deiner Registrierung verwendet hast.
                Wir senden dir eine Email mit einem Link zum Erstellen eines neuens Passwortes. Prüfe auch
                dein Spam-Postfach, wenn du keine Email erhalten hast.
            </p>
        </div>

        <form class="formgroup" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="formDefaultContainer">
                <div class="resetPasswordContainer">
                    <input class="form-control" type="email" formControlName="email" placeholder="Deine email">

                    <button type="submit" class="btn btn-danger"
                        [disabled]="forgotPasswordForm.invalid || isButtonDisabled ">Forgot passsword</button>
                </div>
            </div>
            <div class="message">
                <span *ngIf="invalidMailInfo" class="warning">This email doesn't exist.</span>
                <span *ngIf="sendMailInfo" class="success">We sent you an email to reset your password.</span>
            </div>
        </form>
    </div>

</div>