<button class="btn btn-danger fixedButton" [routerLink]="['/start']">zurück</button>

<div class="mainContainer">
    <div class="title titleadd">Videoflix</div>

    <form class="formgroup" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="signUpBoxTopContent">
            <div>
                <input class="form-control" type="email" formControlName="email" placeholder="Deine email">
            </div>
            <button type="submit" class="btn btn-danger"
                [disabled]="forgotPasswordForm.invalid || isButtonDisabled ">Forgot passsword</button>
            <span *ngIf="invalidMailInfo" class="warning">Etwas ist schief gelaufen, probiere es bitte noch einmal..</span>
            <span *ngIf="sendMailInfo" class="success">Wir haben dir eine Email gesendet. Schaue in deinem Email-Postfach nach.</span>
        </div>
    </form>

</div>