.button {
    margin-top: 20px;
    width: 150px;
    background-color: rgb(196, 5, 5);
    border: 1px solid white; 
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(240, 5, 5);
    }
}

.fixedButton {
    position: absolute;
     top: 5%;
    right: 10%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size:2.5em;
    color: white;

}

.titleadd {
    margin-top: 100px;
    font-size: 5em;
    color: #FEFDC4;
}

.signUpBoxTopContent {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}