:host {
    display: block;
    width: 100%; 
    min-height: 100vh; 
    background-size: cover; 
    // background-color: #28282D;
  }

  .background-pic {
    position: relative;
    background-size: cover;
  }
  
  .background-pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/img/film.jpg');
    background-size: cover;
    filter: contrast(30%) brightness(40%);
    z-index: -1;
   
  }


// .content {
//     height: 100vh;
//     position: absolute;
//     top: 54px;
// }
.content {
    height: 100vh;
    // position: absolute;
   padding-top: 54px;
    margin: auto;
    max-width: 1920px;
    width: 100%;
}

.section-devider {
    width: 100%;
    background-color: #DC3545;
    height: 2px;
}

.rowHead {
    color: white;
    margin: 30px 0;
    padding: 0px 80px;
   width: 100vw;
}


.content-box {
    padding: 50px 80px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #141414;
}

.headlineContainer {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 100px;
}

.title {
    text-align: center;
    color: white;
    line-height: 1.2em;
    font-size: 5em;
}

.underline {
    background-color: #666666;
    width: 100%;
    height: 1px;
}

.infoText {
    color: white;
    font-size: 1.5em;
    margin-top: 10px ;
    z-index: 10;
}

.profileBox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 420px;
    z-index: 10;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-control {
    margin-bottom: 5px;
}

input {
    background-color: #666666;
    color: white;
    border: 1px solid transparent;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.editProfileBtn {
    width: 40%;
}

.saveBtn {
    background-color: white;
    color: black;
    border: none;
    transition: all ease-in-out 125ms;

    &:hover {
        background-color: #dc3545;
        color: white;
    }
}

.cancelBtn {
    background-color: black;
    color: #666666;
    border: 1px solid #666666;
    transition: all ease-in-out 125ms;

    &:hover {
        color: white;
        border: 1px solid white;
    }
}

.editUserBottomContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: auto;
    margin-bottom: 100px;
}

.deleteUserAccountBtn {
    width: 200px;
    background-color: rgb(196, 5, 5);
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: all ease-in-out 125ms;

    &:hover {
        background-color: rgb(240, 5, 5);
    }
}

label {
    // width: 100px;
    color: white;
}


@media(max-width: 800px) {
    .title {
        font-size: 4em;
    }

    .infoText {
        font-size: 1.5em;
    }

    .headlineContainer {
        padding: 0 2%;
    }
    .content-box {
        padding: 50px 20px;
    }

    .profileBox {
        width: 310px;
    }
}

@media(max-height: 700px) {
    .editUserBottomContainer {
        margin-top: min(30px);
        margin-bottom: 20px;
    }

    .headlineContainer {
        margin-top: 20px;
    }

  
}