<div class="mainContainer">
    <div class="headlineCainer">
        <span class="title titleadd">Profil bearbeiten</span>
        <div class="underline"></div>
    </div>

    <div class="profileBox">
        <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">

            <!-- Email section -->
            <div>
                <input class="form-control" type="email" formControlName="email" placeholder="Deine email">
                <span *ngIf="submitted && editUserForm.get('email')?.errors?.['required']" class="warning">
                    Please enter your email.
                </span>
            </div>

            <!-- Username section -->
            <div>
                <input class="form-control" type="text" formControlName="username" placeholder="Benutzername">
                <span *ngIf="submitted && editUserForm.get('username')?.errors?.['required']" class="warning">
                    Please enter your firstname.
                </span>
            </div>

            <!-- Phone section -->
            <div>
                <input class="form-control" type="text" formControlName="phone" placeholder="Telefon">
                <span *ngIf="submitted && editUserForm.get('phone')?.errors?.['required']" class="warning">
                    Please enter a phone.
                </span>
            </div>

            <!-- Address section -->
            <!-- <div>
                <input class="form-control" type="text" formControlName="adress" placeholder="Adresse">
                <span *ngIf="submitted && editUserForm.get('adress')?.errors?.['required']" class="warning">
                    Please enter a phone.
                </span>
            </div> -->

            <div class="btnContainer">
                <button class="editProfileBtn saveBtn" type="submit" [disabled]="!editUserForm.valid">Speichern</button>
                <button class="editProfileBtn cancelBtn" [routerLink]="['/home/surprise']">Abbrechen</button>
            </div>
        </form>
    </div>

</div>