<!-- <div class="headerBox">
    <div class="title">
        <img src="../../../assets/img/logovideoflix.png" alt="" >
    </div>
    <div class="headerLinks">
        <div class="link">Startseite</div>
        <div class="link">Alle Filme</div>
        <div class="link">Neu und beliebt</div>
        <div class="link">Meine Liste</div>
    </div>
   
    <div class="headerLinks">
      
    <div>
        <button class="btn btn-danger " [routerLink]="['/edit-user']">Mein Profil</button>
        <button class="btn btn-danger " (click)="onLogout()">Log out</button>
    </div>
</div>
</div> -->



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="title">
      <img src="../../../assets/img/logovideoflix.png" alt="">
    </div>

    <button class="navbar-toggler navbarToggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item homeBtn">
          <div class="link bi bi-house-fill" routerLink="surprise" routerLinkActive="active"></div>
        </li>

        <li class="nav-item">
          <div class="link" routerLink="allvideos" routerLinkActive="active">Alle Filme</div>
        </li>

        <li class="nav-item">
          <div class="link" routerLink="popular" routerLinkActive="active">Neu & beliebt</div>
        </li>

        <li class="nav-item">
          <div class="link" routerLink="myvideos" routerLinkActive="active">Meine Videos</div>
        </li>
      </ul>

      <!-- search sector -->
      <div class="d-flex searchContainer" role="search">
        <div class="searchInputContent">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          [(ngModel)]="searchTermValue" (keyup)="search(searchTermValue)">        
          <i class="bi bi-search"></i>
        </div>
        <!-- <div class="filteredVideos" *ngIf="searchTerm">
          <span *ngFor="let result of searchResults" (click)="onSelectVideo(result)">
            {{result.title}}
          </span>
        </div> -->
      </div>
      <!-- search sector -->

      <div class="headerLinks">
        <div>
          <button class="btn btn-danger " routerLink="/edit-user">Profil</button>
          <button class="btn btn-danger " (click)="onLogout()">Log out</button>
        </div>
      </div>

    </div>
  </div>
</nav>