.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.52);
    height: 54px;
    padding: 10px;
}

.headerLinks {
    display: flex;
    // gap: 10px;
    // color: white;
    margin-left: 30px;
}
.link {
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    //    background-color: rgba(255, 255, 255, 0.558);
       background-color: rgba(150, 150, 150, 0.424);
    }
}

.title {
    color: white;

    img {
        width: 150px;
    }
}

.btn {
    margin-right: 5px;
}