

:host {
    display: block;
    width: 100%; 
    min-height: 100vh; 
    background-size: cover; 
    background-color: #28282D;
  }

// .content {
 
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     top: 54px;
// }
.content {
    height: 100vh;
    // position: absolute;
   padding-top: 54px;
    margin: auto;
    max-width: 1920px;
    width: 100%;
}
.section-devider {
    width: 100%;
    background-color: #DC3545;
    height: 2px;
}

.rowHead {
    color: white;
    margin: 30px 0;
    padding: 0px 80px;
   width: 100vw;
}
