.searchContainer {
    flex-direction: column;
    position: fixed;
    right: 17%;
    top: 8px;
    z-index: 99;
}

.searchInputContent {
    display: flex;
    align-items: center;
}

.filteredVideos {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background-color: rgba(220, 53, 69, 1);
            color: white;
        }
    }

    span:first-child {
        margin-top: 10px;
    }

    span:last-child {
        margin-bottom: 10px;
    }
}