
:host {
    display: block;
    width: 100%; /* Füllt die Breite des Elternelements */
    min-height: 100vh; /* Mindestens so hoch wie der Viewport */
    background: url('../../../assets/img/dallebg.jpg') no-repeat center center;
    background-size: cover; /* Stellt sicher, dass der Hintergrund die gesamte Fläche bedeckt */
  }

.myList {
position: absolute;
top: 54px;
width: 100vw;
height: 100vh;
//  background-color: rgb(102, 149, 37);
//  background: url('./../../../assets/img/dallebg.jpg')  ;
}

.input-item {
    margin-top: 10px;
     &:label {
        padding-left: 5px;
     }
}
.uploadCard {
    height: 150px;
    background: rgba(0, 0, 0, 0.546);
    width: 100vw;
}

.myvideosContent {
   
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lastRow {
    display: flex;
    gap: 5px;
}
