
.myList {
position: absolute;
top: 54px;
width: 100vw;
height: 100vh;
 background-color: rgb(102, 149, 37);
 background: url('./../../../assets/img/dallebg.jpg') ;
}


.uploadCard {
    height: 200px;
    background: grey;
    width: 100vw;
}

.myvideosContent {
   
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
}
