
<div class="content" *ngIf="video">
    <div class="placemid">
        <div class="rowHead">
            <h1>{{video.title}}</h1>
        </div>
        <div class="videoDetail">
            <div class="left-content">
                <div class="left-top">
                    <div class="smallPic"></div>
                    <div class="information">
                        <div class="overview-likes"><img src="../../../assets/img/icons8-herz-48.png" alt="">{{video.likes.length}}</div>
                        Kategorie: {{video.category}}<br>
                        Hochgeladen am: {{video.created_at | date: 'dd.MM.yyyy' }}
                    </div>
                </div>
                <div class="description">{{video.description}}</div>

            </div>
             <div class="right-content">
                 <video width="100%" controls (play)="onVideoPlay(video.id)">
                <source [src]="video.video_file" type="video/mp4">
                Ihr Browser unterstützt das Video-Tag nicht.

            </video></div>
        </div>
        
    </div>
    <div class="section-devider"></div>
</div>







