<div class="content" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="section">
        <div *ngFor="let category of getCategories()">
            <div class="rowHead">
                <h2>{{ category }}</h2>
            </div>
            <div class="videoListing">
                <div *ngFor="let video of videosByCategory[category]">
                    <!-- Darstellung jedes Videos -->
                    <div class="videoBox">
                        <!-- <h5>{{ video.title }}</h5> -->
                        <!-- <div class="description">{{ video.description }}</div> -->
                        <div class="relative">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Launch demo modal
                            </button>
                            <div class="videoTitleHeader">{{ video.title }}</div>
                            <video width="240" height="160">
                                <source [src]="video.video_file" type="video/mp4">
                                Ihr Browser unterstützt das Video-Tag nicht.

                            </video>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>