<div class="content">
    <div class="rowHead">
        <h2>Alle Filme im Überblick</h2>
    </div>
    <div class="section-devider"></div>

    <ng-container #showCategories>
        <div *ngFor="let category of (videosByCategory$ | async) | keyvalue">
            <div class="rowHead">
                <h2>{{ category.key }}</h2>
            </div>
            <app-catalog-grid [videos]="category.value"></app-catalog-grid>

        </div>
    </ng-container>
</div>


<!-- <a target="_blank" href="https://icons8.com/icon/zkTZNXGR64dz/herz-anzug">Herz</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a> -->