.videoListing {
    display: flex;
    gap: 5px;
}

.relative {
    position: relative;
}
.videoTitleHeader {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.773);
    width: 200px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 0.6em;
    padding: 5px;
}

.dark {
    color: black;
}

.videoRow {
    padding: 0px 10px;
    margin-top: 15px;
    height: 135px;
    overflow-x: auto;
    white-space: nowrap;
}

video {
    cursor: pointer;
}

.category {
    font-size: 1.3em;
    padding: 0 20px;
    background-color: rgba(255, 228, 196, 0.517);
    height: 40px;
}

.description {
    font-size: 1em;
    line-height: 1em;
    color: grey;
    margin-bottom: 20px;
}

.additionalInformation {
    display: flex;
    font-size: 1em;
}

.fullwidth {
    display: flex;
    justify-content: center;
}

.controlButtons {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 5px;
}

.card-body {
    height: 40px;
    padding: 0;
}

.card {
    
  
    background-color: rgba(255, 228, 196, 0.517);
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    height: 40px;
}

.iconSize {
    font-size: 0.8em;
    padding: 0 10px;
    cursor: pointer;
}

.videoLikesContainer {
    display: flex;
    align-items: center;
    border: 1.5px solid #dc3545;
    border-radius: 20px;
}

.likeCounterSelectedVideo {
    font-size: 0.7em !important;
    padding: 0 10px;
}

.likeButton {
    display: inline-block;
    transition: all .125ms ease;

    &.liked {
        color: red;
        animation: pulse 0.6s ease;
    }
}

.bi {
    margin-left: 15px;
    margin-right: 5px;
}

.myModal {
    position: absolute;
    top: 50px;
    left: 10%;
    right: 10%;
    border-radius: 20px;
    background-color: #fafafa;
    z-index: 20;
    color: rgb(71, 71, 71);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.closeModal {
    color: rgb(47, 47, 47);
display: flex;
justify-content: flex-end;
padding: 10px 20px;
cursor:pointer;
}

.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.648);
    z-index: 15; 
}


.box {
    padding: 10px 20px;
}

@media (max-width: 800px){
    .videoRow {
        padding: 0px 0px;
    }

    .myModal {
        position: fixed;
        top: 54px;
        left: 0px;
        bottom: 0;
        right: 0;
        border-radius: 0;
        overflow-y: hidden;
    }

    .card {
        border-radius: 0;
    }
    .additionalInformation {
        font-size: 0.9em;
    }
 
}

@media ( max-width: 450px){
    .additionalInformation {
        font-size: 0.7em;
    }
}