
:host {
    display: block;
    width: 100%;
    min-height: 100vh; 
    background: url('../../../assets/img/dallebg.jpg') no-repeat center center;
    background-size: cover; 
  }
  
.startbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login{
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 250px;
}

.title {
    text-align: center;
    font-size:2.5em;
    color: white;

}

.titleadd {
    margin-top: 100px;
    font-size: 5em;
    color: #FEFDC4;
}

.signUpBox {
    padding: 15px 27px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    width: 350px;
}

.button {
    margin-top: 20px;
    width: 150px;
    background-color: rgb(196, 5, 5);
    border: 1px solid white; 
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(240, 5, 5);
    }
}

.fixedButton {
    position: absolute;
     top: 5%;
    right: 10%;
}

.formgroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signUpBoxTopContent {
    display: flex;
}

.signUpBoxBottomContent {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}