
<div class="videoListing">

    <div *ngFor="let video of videos" >
       
        <div class="itemBox" >
            <div class="pic-box">
               
                <div class="overlay" >
                  
                    <div class="playIcon">Play</div>
                </div>
               
                <video class="video" [poster]="video.thumbnail" >
                   
                    <source [src]="video.video_file" type="video/mp4">
                    Ihr Browser unterstützt das Video-Tag nicht.
                    
                </video>
           
            </div>
                <div class="text-besides">
                    <div class="overview-title">{{video.title}}</div>
                    <div class="overview-category">{{video.category}}</div>
                    <div class="overview-likes"><img src="../../../assets/img/icons8-herz-48.png" alt="">{{video?.likes?.length}}</div>
                   
                </div>
            
        </div>
    </div>
</div>