<div *ngIf="featureVideo" class="autoplay-video-area">
    <video #featureVideoElement width="100%" height="auto" autoplay muted controls loop>
        <source [src]="featureVideo.video_file" type="video/mp4">
        Ihr Browser unterstützt das Video-Tag nicht.
    </video>

    <div class="card">
        <div class="card-body">
            <div class="controlButtons">
                <div class="bi bi-heart iconSizeFeatureVideo"></div>
                <div class="bi bi-info-circle-fill iconSizeFeatureVideo" data-bs-toggle="collapse"
                    data-bs-target="#videoDescriptionContent"></div>
            </div>
        </div>
        <div id="videoDescriptionContent" class="collapse">
            <div class="videoDescriptionContainer">
                <div class="infoFeatureVideo">Autor: {{featureVideo.created_from}}</div>
                <div class="infoFeatureVideo">Upload: {{featureVideo.created_at | date: 'dd. MMMM yyyy'}}</div>
                <div class="infoFeatureVideo">Kategorie: {{featureVideo.category}}</div>
                <span class="infoFeatureVideo">Beschreibung: {{featureVideo.description}}</span>
            </div>
        </div>
    </div>
</div>

<div class="content" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="overlay"></div>
    <div class="section">
        <div class="rowHead">
            <h2>Ähnliche Videos</h2>
        </div>
        <div class="videoListing">

            <div *ngFor="let video of videosByCategory" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <!-- Darstellung jedes Videos -->
                <div class="videoBox" (click)="onSelectVideo(video)">

                    <div class="relative">

                        <div class="videoTitleHeader">{{ video.title }}</div>
                        <video width="240" height="160">
                            <source [src]="video.video_file" type="video/mp4">
                            Ihr Browser unterstützt das Video-Tag nicht.
                        </video>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true" (show.bs.modal)="pauseFeatureVideo()"
                (hidden.bs.modal)="playFeatureVideo()">
                <div class="modal-dialog modal-xl modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" (click)="deleteSelectedVideo()"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="category">{{selectedVideo?.category}}</div>
                            <div class="box">
                                <h4>{{selectedVideo?.title}}</h4>
                                <div class="description">{{selectedVideo?.description}}</div>
                                <div class="fullwidth" *ngIf="selectedVideo">
                                    <video width="100%" controls>
                                        <source [src]="selectedVideo.video_file" type="video/mp4">
                                        Ihr Browser unterstützt das Video-Tag nicht.

                                    </video>

                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="controlButtons">
                                            <div class="bi bi-heart iconSize"></div>
                                            <div class="bi bi-info-circle-fill iconSize"></div>
                                            <div class="additionalInformation">Autor:
                                                {{selectedVideo?.created_from}} Upload {{selectedVideo?.created_at |
                                                date: 'dd. MMMM yyyy'}}</div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="deleteSelectedVideo()">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Ende -->

        </div>
    </div>
</div>

<!-- <div class="video-container">
    <div *ngIf="videoService.videos$ | async as videos">
        <div *ngIf="videos.length > 0">
            <video autoplay loop muted>
                <source [src]="videos[3].video_file" type="video/mp4">
                Ihr Browser unterstützt das Video-Tag nicht.
            </video>
        </div>
    </div>

</div> -->