.startbox {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.login {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132c338f;
    width: 300px;
    border-radius: 20px;
    margin: auto; /* Zentriert den Container horizontal */
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zentriert den Container vertikal */
}

.title {
    margin-top: 150px;
    text-align: center;
    width: 500px;
    font-size:2.5em;
    color: white;
   
}