.startbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/img/kinosaal2.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
   
}

.startbox::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 40, 45, 0.90); 
    z-index: 1;
}

.headline {
    margin-bottom: 30px;
    font-size: 2em;

}

.text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.red {
    color: #DC3545;
    cursor: pointer;

}
.title {
    text-align: center;
    font-size:2.5em;
    color: white;
    line-height: 1.2em;

}
.titleadd {
    margin-top: 100px;
    font-size: 5em;
    color: #FEFDC4;
}

.login {
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #132c33de;
    border-radius: 20px;
    margin: auto; 
    padding: 30px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.signUpBox {
    border-top: 2px solid #DC3545;
    color: white;
    padding: 30px 27px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #28282D;
    border-radius: 10px;
    width: 350px;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

   
}
.form-control {
   
    margin-bottom: 15px;
    width: 250px;
    background-color: #302f2f;
    border-color: #28282D;
    color: rgb(135, 135, 135) !important;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.592);
    opacity: 1; 
}

.formgroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.fixedButton {
    position: absolute;
     top: 5%;
    right: 10%;
}

.forgotPw {
    cursor: pointer;
    color: #DC3545;
}
.redsection {
    font-size: 0.8em;
    width: 100px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.288);
    cursor: pointer;
   
   
}
.devide {
    margin-top: 20px;
    width: 100%;
    border-color: #DC3545;
    background-color:rgba(255, 255, 255, 0.292);
    height: 1px;
}

.modal-content {
    background-color: #28282d;
    color: white;
}
