.startbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    //  background-image: url('../../../assets/img/dallebg.jpg');
    height: 100vh;
   
}
:host {
    display: block;
    width: 100%; /* Füllt die Breite des Elternelements */
    min-height: 100vh; /* Mindestens so hoch wie der Viewport */
    background: url('../../../assets/img/dallebg.jpg') no-repeat center center;
    background-size: cover; /* Stellt sicher, dass der Hintergrund die gesamte Fläche bedeckt */
  }

// :host {
//       // background-image: url('assets/img/dallebg.jpg'); /* Pfad zum Hintergrundbild anpassen */

//       background-size: cover; /* Sorgt dafür, dass der Hintergrund das gesamte Element bedeckt */
//       background-position: center; /* Zentriert das Bild */
//       background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
//       background-attachment: fixed; /* Der Hintergrund bewegt sich nicht beim Scrollen */
//       height: 100%; /* Höhe auf 100% setzen, damit der gesamte Bereich bedeckt ist */
//       margin: 0; /* Entfernt standardmäßige Randabstände */
// }
.headline {
    margin-bottom: 10px;
    font-size: 2em;
}
.title {
    // margin-top: 150px;
    text-align: center;
    font-size:2.5em;
    color: white;
    line-height: 1.2em;

}
.titleadd {
    margin-top: 100px;
    font-size: 5em;
    color: #FEFDC4;
}

.login {
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #132c33de;
    // width: 300px;
    border-radius: 20px;
    margin: auto; /* Zentriert den Container horizontal */
    padding: 30px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zentriert den Container vertikal */
}
.signUpBox {
    color: white;
    padding: 15px 27px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    width: 350px;
}
.form-control {
    margin-bottom: 5px;
    width: 250px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.fixedButton {
    position: absolute;
     top: 5%;
    right: 10%;
}