<div class="content">
  
    <div class="firstRow">
        <div class="bigVideo"  *ngIf="(videoService.mostLikedVideos$ | async)?.slice(0,1) as mostLikedVideo"> 

            <div class="relative">
        
                <div *ngIf="mostLikedVideo[0]" class="videoTitleHeader">{{mostLikedVideo[0].title}}</div> 
                <video *ngIf="mostLikedVideo[0]" controls loop autoplay>
                    <source [src]="mostLikedVideo[0].video_file" type="video/mp4">
                    Ihr Browser unterstützt das Video-Tag nicht.
                </video>
            </div>
        </div>
        <div class="rightSection">
            <div class="videoBox">
                <div class="top">Neu hochgeladen</div>
                <app-videorow [videos]="recentVideos$ | async " ></app-videorow>
           
            </div>
            <div class="videoBox">
                <div class="top">Am meisten geliked</div>
                <app-videorow [videos]="this.videoService.mostLikedVideos$ | async " ></app-videorow>
                <!-- <div class="videoRow">

                    <div class="videoListing" >

                        <div *ngFor="let video of this.videoService.mostLikedVideos$ | async" data-bs-toggle="modal" data-bs-target="#overviewVideoModal">
                          
                            <div class="videoBox" >
        
                                <div class="relative">
        
                                    <div class="videoTitleHeader">{{ video.title }}</div>
                                    <video width="200" height="120">
                                        <source [src]="video.video_file" type="video/mp4">
                                        Ihr Browser unterstützt das Video-Tag nicht.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>
    <div class="secondRow">
        <div class="videoBox">
            <div class="top">Am meisten gesehen</div>
            <!-- <app-videorow [videos]="this.videoService.mostSeenVideos$ | async " ></app-videorow> -->
         <!-- <app-videorow ></app-videorow> -->
         <div class="videoRow">

            <div class="videoListing" >

                <div *ngFor="let video of this.videoService.mostSeenVideos$ | async" data-bs-toggle="modal" data-bs-target="#overviewVideoModal">
                    <!-- Darstellung jedes Videos -->
                    <div class="videoBox" >

                        <div class="relative">

                            <div class="videoTitleHeader">{{ video.title }}</div>
                            <video width="200" height="120">
                                <source [src]="video.video_file" type="video/mp4">
                                Ihr Browser unterstützt das Video-Tag nicht.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="secondRow">
        <div class="videoBox">
            <div class="top">Videos von <span class="point" (click)="toggleDisplayVideos(true)">[ heute ]</span> <span class="point" (click)="toggleDisplayVideos(false)">[ gestern ]</span> [übermorgen :D]</div>
         <app-videorow [videos]="displayedVideos$ | async " ></app-videorow>
        </div>
    </div>
</div>

