<div class="content">
  
    <div class="firstRow">
        <div class="bigVideo"></div>
        <div class="rightSection">
            <div class="videoBox">
                <div class="top">Neu hochgeladen</div>
                <div class="videoRow"></div>
            </div>
            <div class="videoBox">
                <div class="top">Am beliebtesten</div>
                <div class="videoRow"></div>
            </div>
        </div>
        
    </div>
    <div class="secondRow">
        <div class="videoBox">
            <div class="top">Videos von [ heute ] [gestern] [übermorgen :D]</div>
            <div class="videoRow"></div>
        </div>
    </div>
</div>

