.content {
    height: 100vh;
    width:100vw;
    position: absolute;
    top: 54px;
    background-color: #1A221C;
    display: flex;
    flex-direction: column;
}

.firstRow {
    display: flex;
    
}
.rightSection {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.videoBox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.bigVideo {
    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 50%;
    height: 400px;
}
.top {
    width: 100%;
    color: white;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.457);
}

.videoRow {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.236);
    margin-top: 20px;
    height: 135px;
}