.startbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/img/kinosaal2.jpg');
    position: relative;
    height: 100vh;
    background-size: cover;
   
}
.startbox::before {
    content: ""; /* Notwendig für die Anzeige des Pseudo-Elements */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 40, 45, 0.90); /* Farbton #28282D mit hoher Deckkraft */
    z-index: 1; /* Stellt sicher, dass das Overlay über dem Hintergrundbild liegt */
}

.login{
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 250px;
    margin-bottom: 15px;
    background-color: #302f2f;
    border-color: #28282D;
    color: rgb(145, 145, 145) !important;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.592); /* Setzt die Farbe des Placeholder-Textes auf Weiß */
    opacity: 1; /* Optional: Stellt sicher, dass der Placeholder-Text vollständig opak ist */
} 
.formgroup {
    display: flex;
    flex-direction: column;
}

.title {
    // margin-top: 150px;
    text-align: center;
    font-size:2.5em;
    color: white;
    line-height: 1.2em;

}

.titleadd {
    margin-top: 100px;
    font-size: 5em;
    color: #FEFDC4;
}

.headline {
    margin-bottom: 10px;
    font-size: 2em;
    color: white;
}

.signUpBox {
  
    border-top: 2px solid #DC3545;
    padding: 30px 27px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color: #28282D;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    z-index: 3;
}
.text {
    // display: flex;
    // justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.red {
    color: #DC3545;
    cursor: pointer;

}
.button {
    margin-top: 20px;
    width: 150px;
    background-color: rgb(196, 5, 5);
    border: 1px solid white; 
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(240, 5, 5);
    }
}

.fixedButton {
    position: absolute;
     top: 5%;
    right: 10%;
}

.signUptBtn {
    width: 250px;
}

.signupInfoText {
    width: 250px;
}

.checkPassword {
    max-width: 250px;
}