@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import './assets/fonts/fonts.css';


body {
    background-color: #28282D;
    font-family: 'Open Sans', sans-serif;
} 
.warning {
    color: red;
}

.success {
    color: green;
}
h2 {
    font-weight: 300;
}

.btn {
    margin-right: 5px;
}