/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/img/vetflix.png'); /* Pfad zum Hintergrundbild anpassen */
    background-size: cover; /* Sorgt dafür, dass der Hintergrund das gesamte Element bedeckt */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-attachment: fixed; /* Der Hintergrund bewegt sich nicht beim Scrollen */
    height: 100%; /* Höhe auf 100% setzen, damit der gesamte Bereich bedeckt ist */
    margin: 0; /* Entfernt standardmäßige Randabstände */
}