.topSection {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0a0a0a;
    padding: 15px;

    span {
        color: #FEFDC4;
    }
}

.backBtn {
    height: 40px;
    width: 100px;
}

.mainContainer {
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContent {
    margin: 0 25px;
    max-width: 500px;
}

.title {
    text-align: center;
    font-size:2.5em;
    color: white;

}

.infoText {
    color: white;

    h1 {
        margin-bottom: 40px;
    }

    p {
        // line-height: 21px;
    }
}

.form-control {
    margin-bottom: 5px;
    width: 250px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

.message {
    height: 50px;
    margin-top: 25px;
    text-align: center;
}