<button class="btn btn-danger fixedButton" [routerLink]="['/start']">zurück</button>

<div class="mainContainer">
    <div class="title titleadd">Videoflix</div>

    <form class="formgroup" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="signUpBoxTopContent">
            <div>
                <input class="form-control" type="password" formControlName="password"
                    placeholder="Neues Passwort">
                <input class="form-control" type="password" formControlName="confirmPassword"
                    placeholder="Passwort wiederholen">
            </div>
            <button type="submit" class="btn btn-danger"
                [disabled]="!resetPasswordForm.invalid || isButtonDisabled ">Reset passsword</button>
            <span *ngIf="passwortReset" class="success">You successfully reset your password.</span>
        </div>
    </form>

</div>