<div class="topSection">
    <span class="title">Videoflix</span>
    <button class="btn btn-danger backBtn" [routerLink]="['/start']">zurück</button>
</div>

<div class="mainContainer">

    <div class="mainContent">

        <div class="infoText">
            <h1>
                Neues Passswort vergeben
            </h1>
            <p>
                Gebe hier dein neues passwort ein und bestätige dieses. Danach kannst du dich mit dem
                neuen Passswort anmelden. Bitte benutze ein Passwort dass mindestens 8 Zeichen lang ist.
            </p>
        </div>

        <form class="formgroup" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="formDefaultContainer">
                <div class="resetPasswordContainer">
                    <input class="form-control" type="password" formControlName="password" placeholder="Neues Passwort">
                    <input class="form-control" type="password" formControlName="confirmPassword"
                        placeholder="Passwort wiederholen">
                        <button type="submit" class="btn btn-danger"
                        [disabled]="resetPasswordForm.invalid || isButtonDisabled ">Reset passsword</button>
                </div>
            </div>
            <div class="message">
                <span *ngIf="passwortReset" class="success">You successfully reset your password.</span>
            </div>
        </form>
    </div>

</div>